<header>
<h1>近来都瞎说了些神马..</h1>
</header>
<section class='content'>
<% @posts.each do |post| %>

  <h2><%= post.title %></h2>

  <h2><%= link_to "#{post.title}", post %></h2>

<!--  <p><%= post.time %></p>
  <p><%= post.author %></p> -->

  <p>
<%  if post.picture? %>
  『图』
<%  end %>
<%= truncate(strip_tags(post.text), :length => 100) %></p>
<!--  <p><%= link_to 'Edit', edit_post_path(post) %></p>
  <p><%= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } %></p>
  -->
<p>&nbsp;</p>
<% end %>
</section>

<%= link_to 'New Post', new_post_path %>
